main#Main {
  @extend .has-background-grey, .py-3;

  div:first-child {
    @extend .level;

    div:first-child {
      @extend .level-item, .is-flex, .is-flex-direction-column;

      h3:first-child {
        @extend .title, .has-text-light, .my-3;
      }

      @import './todo-lists';
    }
  }
}
